<div>
    <label for="">Название маршрута:</label>
    <span><%= @route_name %></span>
</div>
<div>
    <label for="">Протяженность:</label>
    <span><%= @killometrs %></span>
</div>
<div>
    <label for="">Имя:</label>
    <span><%= @first_name %></span>
</div>
<div>
    <label for="">Фамилия:</label>
    <span><%= @last_name %></span>
</div>
<div>
    <label for="">Телефон:</label>
    <span><%= @phone %></span>
</div>
<div>
    <label for="">E-mail:</label>
    <span><%= @email %></span>
</div>
<div>
    <label for="">Возраст:</label>
    <span><%= @years %></span>
</div>
<div>
    <label for="">Сложность:</label>
    <span><%= @level %></span>
</div>
